@import 'clean-blog/base';
.blog, .post{
    @extend .blog-style;
    padding-top: 2em;
    // Body Base
    .post-list-pagination{
      text-align: center;
      .pagination{
        li {
            display: inline-block;
            border: none;
        }
      }
    }
    .post-list {
      min-width: 85%;
      margin-left: auto;
    }
    .post-preview{
      margin-bottom: 1em;
      .post-image{
          img{
            width: 100%;
            max-height: 20em;
            min-height: 33vh;
            object-fit: cover;
        }
      }
      .post-content{
        position: relative;
        .post-title{
            @extend .first-letter;
            text-align: center;
            font-size: larger;
            position: absolute;
            top: -4em;
            color: white;
            background: rgba(33,33,34,0.62);
            line-height: 3em;
            width: 100%;
            max-height: 3em;
            padding: 0 5px 3px 0;
            overflow-y: hidden;
            word-break: break-all;
        }
        .post-subtitle{
          color: $postText;
          text-align: center;
          padding-top: 5px;
        }
      }
      .post-meta{
        font-size: 80%;
        padding: 5px;
      }
    }

  .post-body{
    min-width: 85%;
    margin-left: auto;
    background: $page-bg;
color: $core-text;
-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  h3{
    font-size: 24px
  }
  
  }
}
