/* @media only screen and (max-device-width: 480px) {
.parallax {
 background-attachment: scroll;
}
}*/
@media screen and (min-width: 768px){
#header{
  .adress{
    position: absolute;
    left: 3em;
    bottom: 1em;
  }
  .social{
    position: absolute;
    right:2em;
    bottom: 1em;
    li{
      padding: 0.3em;
    }
  }
}
.share-section .mobile{
  display: none;
}
}
