/* @media only screen and (max-device-width: 480px) {
.parallax {
 background-attachment: scroll;
}
}*/
@media screen and (min-width: 768px){
#header{
  .adress{
    position: absolute;
    left: 3em;
    bottom: 1em;
  }
  .social{
    position: absolute;
    right:2em;
    bottom: 1em;
    li{
      padding: 0.3em;
    }
  }
}
.share-section .mobile{
  display: none;
}
}

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}
