$page:'page-contact';
.#{$page}{
  *{
    color: white;
  }
  h2{
    font-size: 1.3em;
    padding-bottom: 0.8em;
  }
  text-align: center;
.contact{
  @include blogStyle();
  .list{
  padding-left: 0.5em;
  padding-bottom: 0.5em;
  text-align: left;
  li {
    position: relative;
    padding: 0.5em;
    margin: 0;
    p,a{
      font-size: 1.1em;
      padding: 0.5em
    }
  }
  a{
    display: inline-block;
  }
    a:hover{
      text-decoration: none;
      color: rgb(218, 206, 237);
    }
  .fa-li {
      left:-1em;
  }
  .fa-phone{
    padding-top:1em;
  }
  .icon-mtc{
    img{
      margin-bottom: -0.2em;
    }
  }
  

}
}
.social{
  padding: 0.5em;
  ul{
    width: fit-content;
    margin: auto;
    text-align: left;
    li{
      margin-bottom: 0.3em;
      font-size: 1.2em;
          .icon{
          margin-right: 0.3em;
          font-size: 0.8em;
        }
        .name{
          font-weight: bold;
          margin-right: 0.2em;
        }
        .url{
          word-break: break-all;
          font-size: 0.8em;
        }
    }
  }
}
}
