@import 'mixins';
.page-wrapper{
  width: 100%;
  padding: 0;
  margin: 0;
}
section{
  padding: 0.5em;
}
footer{
  padding: 3em 1em 1em 2em;
    color: #dad2d2;
    background: #757573;
    text-align: center;
    .footercol{
      padding-bottom: 0.5em;
    }
    .social_icons{
      font-size:0.8em
    }
}
#toTop {
	display: none;
	width: 27px;
	height: 19px;
	overflow: hidden;
	background: url(../img/totop.png) 0 bottom no-repeat;
	position: fixed;
	margin-right: -690px !important;
	right: 50%;
	bottom: 60px;
	z-index: 999;
}
#toTop:hover {
	background-position: 0 0;
}
#toTop:active, #toTop:focus {
	outline: none;
}
/*------Header Shang De Wu Style-------*/
.social_icons{
  display: inline-flex;
}
.social-color{
  a{
    color: white;
  }
  .fab.fa-facebook-f{
    color:#3b5998;
  }
  .fab.fa-vk{
    color:#4c75a3;
  }
  .fab.fa-youtube{
    color:#FF0000;
  }
}
#header {
  .banner{
  position: relative;
	background:radial-gradient(circle, #e21b40d1, #ffed94e0, #d5e2fb);
  .logo{
    max-width: 60%;
    padding: 1em;
    float: none;
    margin: auto;
    text-align: center;

  }
    .adress{
      text-align: center;
    padding: 1em 0 1em;
    font-weight: bold;
    }
    .social{
      text-align: center;
      font-size: 1.5em;
      li{
        padding: 0.3em;
      }
    }
}

  }
  .menuheader{
      .navbar{
        margin-bottom: 0;
      }
      .navbar-text{
        margin-left: 1.5em;
        li{
          padding:0.3em
        }
      }
       .menu-logo{
         padding: 0.2em 0 0 0;
         margin-left:1.2em;
         img{
           max-width: 15vw;
         }
       }
       .menu-items{
         text-align: center;
          .nav{
            max-width: 80%;
            width: fit-content;
            margin: auto;
            text-align: center;
            float: none;
            li{
              padding: 0 1.5em;
            }
          }
       }
     }
  /* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .page-wrapper {
  padding-top: 102px;
}
/*------End Header-------*/

.row_1, .row_9 {
  @include styleGreen();
}
.row_2{
  @include blogStyle(rgba(#288fed, 0.86));
}
.map{
  @include center;
  border: solid 4px #4e5358;
  border-radius: 8px;
  iframe{
    width: 100%;
    max-width: 100%;
  }
}
/****HOME***/
.home-welcome{
  padding-bottom: 1em;
  .container{
    padding: 0;
  }
  a{
    color: $basecolor;
    border-radius: 50%;
    padding-top: 1.2em;
    width: 4em;
    height: 4em;
    margin-left: 40%;
  }
  a:hover{
    color: #524f4f;
  }

  .title2{
    padding: 0.5em;
    @include multiLineEllipsis(1.1em, 10, none);
    text-align: center;
    color: white;
    margin-bottom: 1.2em;
    &::before{
      right: 1em;
    }
  }

}
 .home-footer{
    background: #fff;
    .home-footer-col{
      padding: 1em;
    }
    h3{
      text-align: center;
      padding: 5px;
      font-size: 1.2em
    }
    .home-trainer{
      @include blogStyle(#fff,rgb(11, 11, 9), rgb(78, 83, 88));

      & article{
        font-size: 1em;
      }
      img{
        padding: 5px;
      }
      a{
        @include pillShape(#fff,rgb(11, 11, 9));
        .arrow{
          margin-left: 2.5pt;
        }
      }
    }
    .services{
      h3{
        margin: 2em;
      }
      li{
        padding-bottom: 0.5em;
        span{
          color:rgb(241, 77, 66);
        }
        a{
          text-decoration: none;
          color:rgb(78, 83, 88);
        }
      }
    }
    .title4{
      padding: 0.2em 0 0.5em;
    }

  }
    /****page Contact****/
  .contact{
    a{
      display: inline-flex;
    }

     li {
       margin-bottom: 0.5em;
       padding: 0.2em
     }
     .phone-icon{
       font-size: 1.2em;
        margin-left: 5px;
        margin-top: -5px;
        text-decoration: none;
      img{
         border-radius:50%;
                  }
     }
     .icon-viber{
       color:#9c36b5;
     }
  }


$groupBaseColor:rgba(#288fed, 0.86);
$group1: #eb5368;
$group2 : #3aa320;
$group3 : #5bb4d6;
/*---Home Gourps List--*/
.home-groups{
  @include blogStyle($groupBaseColor);

  .description{
    p{
      @include multiLineEllipsis(1.1em, 10, none);
      text-align: center;
    padding: 0 0 0 0;

    color: white;
    }

    a{
      @include pillShape($groupBaseColor,#fff,0.8em);
      margin-top: 1.2em;
    }
  }
}
.home-group-list{
  li p{
    color: #ffffff;
    font-family: 'Georgia', serif;
    padding: 0
  }
  & li .pic{
      width: fit-content;
      max-width: 100%;
      max-height: none;
      margin-bottom: 20%;
      overflow: visible;
          .pic-caption{
            height: 30%;
            top: 85%;
            opacity: 1;
            overflow: hidden;
              .pic-title{
                font-weight: bolder;
                text-decoration: underline;
              }
              .description{
                padding-right: 1em;
                @include multiLineEllipsis(1.2em, 4, none);
                margin-right: 0;
                margin-bottom: 0.5em
              }
              .description:before{
                right: 0.2em;
              }

          }
      }
    & li .pic:hover .bottom-to-top {
        top: 40%;
        opacity: 0.8;
        min-height: 80%;
        p{
          text-shadow: 1px 1px 2px #fbffec;
        }
    }
      .group1 .pic-caption{
        background: $group1;
        a{
          @include pillShape($group1,#fff,0.8em);
        }
      }
      .group2 .pic-caption{
        background: $group2;
        .pic-title, .description{
          color:$groupBaseColor;
        }
        a{
          @include pillShape($groupBaseColor,#fff,0.8em);
        }
      }
      .group3 .pic-caption{
        background: $group3;
        a{
          @include pillShape($group3,#fff,0.8em);
        }
      }
}
/*---------Page groups----------------*/

/****pages****/
@import 'page_groups';
@import 'page_about';
@import 'page_contact';
 /**********MEDIA QUERY************/
@import 'media';
