@import 'mixins';
.page-wrapper{
  width: 100%;
  padding: 0;
  margin: 0;
}
section{
  padding: 0.5em;
}
footer{
  padding: 3em 1em 1em 2em;
    color: #dad2d2;
    background: #757573;
    text-align: center;
    .footercol{
      padding-bottom: 0.5em;
    }
}

/*------Header Shang De Wu Style-------*/
.social_icons{
  display: inline-flex;
}
#header {
  .banner{
  position: relative;
	background:radial-gradient(circle, #e21b40d1, #ffed94e0, #d5e2fb);
  .logo{
    max-width: 60%;
    padding: 1em;
    float: none;
    margin: auto;
    text-align: center;

  }
    .adress{
      position: absolute;
      left: 3em;
      bottom: 1em;
    }
    .social{
      position: absolute;
      right:2em;
      bottom: 1em;
      li{
        padding: 0.3em;
      }
    }
}

  }
  .menuheader{
      .navbar{
        margin-bottom: 0;
      }
      .navbar-text{
        margin-left: 1.5em;
        li{
          padding:0.3em
        }
      }
       .menu-logo{
         padding: 0.2em 0 0 0;
         margin-left:1.2em;
         img{
           max-width: 15vw;
         }
       }
       .menu-items{
         text-align: center;
          .nav{
            max-width: 80%;
            width: fit-content;
            margin: auto;
            text-align: center;
            float: none;
            li{
              padding: 0 1.5em;
            }
          }
       }
     }
  /* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .page-wrapper {
  padding-top: 102px;
}
/*------End Header-------*/

.row_1, .row_9 {
  @include styleGreen();
}
.row_2{
  @include blogStyle(rgba(#288fed, 0.86));
}
.map{
  @include center;
  border: solid 4px #4e5358;
  border-radius: 8px;
}
/****HOME***/
 .home-footer{
    background: #fff;
    .home-footer-col{
      padding: 1em;
    }
    h3{
      text-align: center;
      padding: 5px;
      font-size: 1.2em
    }
    .home-trainer{
      @include blogStyle(#fff,rgb(11, 11, 9), rgb(78, 83, 88));

      & article{
        font-size: 1em;
      }
      img{
        padding: 5px;
      }
    }
    .services{
      h3{
        margin: 2em;
      }
      li{
        padding-bottom: 0.5em;
        span{
          color:rgb(241, 77, 66);
        }
        a{
          text-decoration: none;
          color:rgb(78, 83, 88);
        }
      }
    }
    /****page Contact****/

  }
  .contact{
    a{
      display: inline-flex;
    }

     li {
       margin-bottom: 0.5em;
       padding: 0.2em
     }
     .phone-icon{
       font-size: 1.2em;
        margin-left: 5px;
        margin-top: -5px;
        text-decoration: none;
      img{
         border-radius:50%;
                  }
     }
     .icon-viber{
       color:#9c36b5;
     }
  }

/*---------page about---------*/
.page-about{
  .section-school{
    .header{
      @include styleGreen();
    }
    .content{
      padding-top: 2em;
    @include styleGreen(#fff,#241f20);
    img{
      @include center;
    }
    }
  }
  .fundator{
    background: #ffffff;
    padding-bottom: 1.5em;
    h1{
      color:#ff375b;
      text-align: center;
      font-weight: 900;
      padding: 5px;
      font-size: 2.2em;
      margin: auto;
      margin-bottom: 10px;
    }
    p{
      line-height: normal;
    }
    .resume{
      @include blogStyle(#fff, #4fab9e, #4fab9e);
      article{
        h2{
          text-align: center
        }
        text-align: left;
      }
    }
    .bio{
      text-align: center;
      max-height: 120vh;
      overflow-y: scroll;
      @include blogStyle(#4fab9e,#fff,#fff);
        li {
          h3{
            color: #fff;
            font-size: 1.8em;
            font-weight: 600;
          }
          p{
            color: #fff;
          }
        }
    }
  }
}
/*--------Home section groups----------*/
$groupBaseColor:rgba(#288fed, 0.86);
$group1: #eb5368;
$group2 : #f1d154;
$group3 : #5bb4d6;
/*---Home Gourps List--*/
.home-groups{
  @include blogStyle($groupBaseColor);

  .description{
    p{
      @include multiLineEllipsis(1.1em, 10, none);
      text-align: center;
    padding: 0 0 0 0;

    color: white;
    }

    a{
      @include pillShape($groupBaseColor,#fff,0.8em);
      margin-top: 1.2em;
    }
  }
}
.home-group-list{
  li p{
    color: #ffffff;
    font-family: 'Georgia', serif;
    padding: 0
  }
  & li .pic{
      width: fit-content;
      max-width: 100%;
      max-height: none;
      margin-bottom: 20%;
      overflow: visible;
          .pic-caption{
            height: 30%;
            top: 85%;
            opacity: 1;
            overflow: hidden;
              .pic-title{
                font-weight: bolder;
                text-decoration: underline;
              }
              .description{
                padding-right: 1em;
                @include multiLineEllipsis(1.2em, 4, none);
                margin-right: 0;
                margin-bottom: 0.5em
              }
              .description:before{
                right: 0.2em;
              }

          }
      }
    & li .pic:hover .bottom-to-top {
        top: 40%;
        opacity: 0.8;
        min-height: 80%;
        p{
          text-shadow: 1px 1px 2px #fbffec;
        }
    }
      .group1 .pic-caption{
        background: $group1;
        a{
          @include pillShape($group1,#fff,0.8em);
        }
      }
      .group2 .pic-caption{
        background: $group2;
        .pic-title, .description{
          color:$groupBaseColor;
        }
        a{
          @include pillShape($groupBaseColor,#fff,0.8em);
        }
      }
      .group3 .pic-caption{
        background: $group3;
        a{
          @include pillShape($group3,#fff,0.8em);
        }
      }
}
/*---------Page groups----------------*/

/****pages****/
@import 'page_groups';
@import 'page_contact';
 /**********MEDIA QUERY************/
@import 'media';
