@import 'images';
@mixin styleGreen($background: #68b2b1, $secondColor: #fff){
    background:$background;
    color: $secondColor;
    text-align: center;
    padding-bottom: 2em;
      h1, .title1{
        font-size: 140%;
        color: $background;
        background: $secondColor;
        line-height: 2px;
        display: table;
        margin: auto;
        border-radius: 2.5em;
        font-weight: bolder;
        padding: 1em;
        text-transform: uppercase;
        margin-bottom: 1.5em;
        }
        article, p {
          color: $secondColor;
          font-size: 1.5em;
          line-height: normal;
        }

}
@mixin blogStyle($background: #68b2b1, $title: #fff, $text: #fff){
  background:$background;
  color: $text;
  padding-bottom: 2em;
  font-family: "Merriweather", sans-serif;
      h1, .title1{
        color: $title;
        font-weight: 900;
        padding: 5px;
        font-size: 2.2em;
        margin: auto;
        margin-bottom: 10px;
      }
      h2{
        font-size: 120%;
        padding: 1.6em;
        text-decoration: underline;
      }
      p, article {
        font-size: 1.2em;
        padding: 5px;
        margin-bottom: 0.8em;
      }


}
/*------Header Shang De Wu Style-------*/
#header .banner{
  position: relative;
	background:radial-gradient(circle, rgb(235, 55, 11), #e8e6d9c9, #fbeed5);
    .adress{
      position: absolute;
      left: 3em;
      bottom: 1em;
    }
    .social{
      position: absolute;
      right:2em;
      bottom: 1em
    }
}
/*------End Header-------*/

.row_1{
  @include styleGreen();

}
.row_2{
  @include blogStyle(rgba(#288fed, 0.86));
}
/*---------page about---------*/
.page-about{
  .section-school{
    .header{
      @include styleGreen();
    }
    .content{
      padding-top: 2em;
    @include styleGreen(#fff, #ff375b);
    }
  }
  .fundator{
    background: #ffffff;
    h1{
      color:#ff375b;
      text-align: center;
      font-weight: 900;
      padding: 5px;
      font-size: 2.2em;
      margin: auto;
      margin-bottom: 10px;
    }
    p{
      line-height: normal;
    }
    .resume{
      @include blogStyle(#fff, #4fab9e, #4fab9e);
      article{
        h2{
          text-align: center
        }
        text-align: left;
      }
    }
    .bio{
      text-align: center;
      max-height: 120vh;
      overflow-y: scroll;
      @include blogStyle(#4fab9e,#fff,#fff);
        li {
          h3{
            color: #fff;
            font-size: 1.8em;
            font-weight: 600;
          }
          p{
            color: #fff;
          }
        }
    }
  }
}
/*--------Home section groups----------*/
$group1: #eb5368;
$group2 : #f1d154;
$group3 : #5bb4d6;
/*---Home Gourps List--*/
.home-group-list{
  li{
    color: #ffffff;
    text-shadow: 1px 1px 2px #c1c1c1;
    font-family: 'Georgia', serif;
    padding: 0
  }
  & li .pic{
      max-width: 100%;
      max-height: none;
      margin-bottom: 20%;
      overflow: visible;
          .pic-caption{
            height: 30%;
            top: 85%;
            opacity: 1;
            overflow: hidden;
          }
      }
    & li .pic:hover .bottom-to-top {
        top: 40%;
        opacity: 0.8;
        min-height: 60%;
    }
      .group1 .pic-caption{
        background: $group1;
      }
      .group2 .pic-caption{
        background: $group2;
      }
      .group3 .pic-caption{
        background: $group3;
      }
}
