@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,900);
@import 'slick/slick';
@import 'slick/slick-theme';
@import 'slick/slick-lightbox';
@import 'timeline';
@import 'incontent/base';
  .parallax {
  /* The image used */
  /* Set a specific height */
  height: 20em;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.5em 0 0.5em 0;
  }
  /* Enable Bootstrap Hover Drop Downs */
  .dropdown-menu li:hover .sub-menu {
      visibility: visible;
  }

  .dropdown:hover .dropdown-menu {
      display: block;
  }
/*----------posts---------*/

  .intro-header {
    /*--- variables----*/
  $theme-primary:    #0085A1;
  $gray-base:        #000;
  $gray-light:       lighten($gray-base, 46.7%);
  /*---Mixings--*/
  @mixin background-cover(){
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
  }
  @mixin serif-font(){
    font-family: 'Lora', 'Times New Roman', serif;
  }
  @mixin sans-serif-font(){
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  /*----post header---*/
  	background-color: $gray-light;
  	background: no-repeat center center;
  	background-attachment: scroll;
  	@include background-cover;
  	// NOTE: Background images are set within the HTML using inline CSS!
  	margin-bottom: 50px;
  	.site-heading,
  	.post-heading,
  	.page-heading {
  		padding: 100px 0 50px;
  		color: white;
  		@media only screen and (min-width: 768px) {
  			padding: 150px 0;
  		}
  	}
  	.site-heading,
  	.page-heading {
  		text-align: center;
  		h1 {
  			margin-top: 0;
  			font-size: 50px;
  		}
  		.subheading {
  			font-size: 24px;
  			line-height: 1.1;
  			display: block;
  			@include sans-serif-font;
  			font-weight: 300;
  			margin: 10px 0 0;
  		}
  		@media only screen and (min-width: 768px) {
  			h1 {
  				font-size: 80px;
  			}
  		}
  	}
  	.post-heading {
  		h1 {
  			font-size: 35px;
  		}
  		.subheading,
  		.meta {
  			line-height: 1.1;
  			display: block;
  		}
  		.subheading {
  			@include sans-serif-font;
  			font-size: 24px;
  			margin: 10px 0 30px;
  			font-weight: 600;
  		}
  		.meta {
  			@include serif-font;
  			font-style: italic;
  			font-weight: 300;
  			font-size: 20px;
  			a {
  				color: white;
  			}
  		}
  		@media only screen and (min-width: 768px) {
  			h1 {
  				font-size: 55px;
  			}
  			.subheading {
  				font-size: 30px;
  			}
  		}
  	}
  }
