{#- add in the MD the formatter gallery= true
  - should be named with numbers for order it

  FIXED ligtbox block the link to the page in the vertical slide  #}
{# TODONE catch formatter map #}
{# TODO create gallery #}
{# TODO caption image from formatter #}
{# TODO style with scrool or slide #}
{% set map = page.header.map %}
{% set img = page.media[page.header.map.image] ? page.media[page.header.map.image]:page.media["map.jpg"] %}
{% if map.gallery %}
  {# TODO by local images #}
  {% set gallery = map.gallery %}
  <div class="map-gallery">
    <h2>Последовательность изображений</h2>
    {% if img %}
        <figure class="map-image single-lightbox">
        {{'<a class="thumbnail " href="'~img.cache.url~'" target="_blank" data-caption="' ~ page.title~'">'}}
        {{'<img src="'~img.cache.url~'"  alt="">'}}
        </a>
        </figure>
    {% endif %}  
    <div class="row">
      {% for folder, name in gallery.src %}
      <div class="map-image-list clearfix">
        <h3> {{name}} </h3>
        {% include "classroom/gallery.html.twig" %}
      </div>     
      {% endfor %}
      {% endif %}
    </div>   
  </div>




