<div class="row_1 ">
    <section id= "{{page.header.sectionId}} " class="container">
        <h2>{{ page.header.title }}</h2>
        <article class="title2">{{ page.header.description }}</article>
        {{ content }}
    </section>
</div>
