{% block share %}
{# TODO
- [x] style the links
- [-] check the vk sharing
- [x] define mobile and pc sharing #}
<div class="share-section">
  <div class="js-social"></div>
  <div class="js-social-mobile visible-xs"></div>
</div>

{% endblock %}
