{% block share %}
{# TODO
- [ ] style the links
- [ ] check the vk sharing
- [ ] define mobile and pc sharing #}
<div class="share-section" data-url="{{page.url(true)}}">
  <div class="js_social"></div>
</div>

{% endblock %}
