// Colors
$rule-color: 					#F0F2F4;
$postText : #101213;
//post Style-------
// Media Device Breakpoints
$large-desktop-container:		75.000em !default;
$desktop-container:				60.000em !default;
$tablet-container:				48.000em !default;
$large-mobile-container:		30.000em !default;
$mobile-container:				100% !default;
// Breakpoint Variables For Particles
$media: "all" !default;
$mobile-only: "#{$media} and (max-width:#{$tablet-container - 0.062})" !default;
$no-mobile: "#{$media} and (min-width:#{$tablet-container})" !default;
$small-mobile-range: "#{$media} and (max-width:#{$large-mobile-container})" !default;
$large-mobile-range: "#{$media} and (min-width:#{$large-mobile-container + 0.063}) and (max-width:#{$tablet-container - 0.062})" !default;
$tablet-range: "#{$media} and (min-width:#{$tablet-container}) and (max-width:#{$desktop-container - 0.062})" !default;
$desktop-range: "#{$media} and (min-width:#{$desktop-container}) and (max-width:#{$large-desktop-container - 0.062})" !default;
$large-desktop-range: "#{$media} and (min-width:#{$large-desktop-container})" !default;
// Sizes
$header-height: 5rem;
$footer-height: 6rem;
$border-radius: 3px;
// Font Weights
$font-weight-bold: 600;
$font-weight-regular: 400;
$font-weight-light:300;

// Global Paddings
$padding-horiz: 7rem;
$padding-vert: 3rem;
// Font Family
$font-family-default:  			"Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-header:  			'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-mono: 				"Inconsolata", monospace;
$font-family-serif:				"Georgia", "Times", "Times New Roman", serif;
// Base Sizes
$core-font-size:				1rem !default;
$core-line-height:				1.7 !default;

// Heading Sizes
$h1-font-size:					$core-font-size + 2.20 !default;
$h2-font-size:					$core-font-size + 1.50 !default;
$h3-font-size:					$core-font-size + 1.10 !default;
$h4-font-size:					$core-font-size + 0.75 !default;
$h5-font-size:					$core-font-size + 0.35 !default;
$h6-font-size:					$core-font-size - 0.15 !default;

// Spacing
$leading-margin:				$core-line-height * 1rem !default;
