{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block content %}
{% if page.content %}
<section class="main">
    {{ page.content }}
  </section>
{% endif %}

    <div id="content">
        {% for module in page.collection() %}
                {{ module.content }}
        {% endfor %}
    </div>
{% endblock %}
